* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

:root {
    font-size: 62.5%;
}

header {
    background-color: #FFAE34;
    width: 100%;
    height: 15rem;
    text-align: center;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4.5rem;
    padding-top: 2.3rem;
}

h2 {
    font-size: 3.5rem;
    margin-top: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
}

img.carro {
    width: 58.6rem;
    height: auto;
}

p.carro {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    text-align: justify;
}

p.primeiro {
    margin-top: 5rem;
}

p.segundo {
    margin-top: 2.5rem;
}

main {
    padding: 5rem;
    padding-left: 10rem;
    padding-right: 10rem;
    text-align: center;
    min-height: calc(100% - (15rem + 6.2rem));
}

section {
    margin-top: 10rem;
}

section.primeiro {
    margin-top: 4rem;
}

footer {
    width: 100%;
    height: 6.2rem;
    background-color: #414141;
}

footer span {
    color: white;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}

#pl {
    float: left;
    margin-left: 1.8rem;
    padding-top: 2rem;
}

#ts {
    float: right;
    margin-right: 1.8rem;
    padding-top: 2rem;
}

footer span a {
    color: white;
    font-weight: bold;
}

